        /* 전체 화면을 grid로 구성 */
        body {
            display: grid;
            grid-template-rows: 1fr 5fr 1fr; /* 파란색, 노란색, 초록색 도형의 비율에 맞게 설정 */
            height: 100vh; /* 높이를 전체 화면으로 설정 */
            gap: 10px; /* 간격 설정 */
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        /* -------------------------------------------------------- */

        /* 화면 상단 설정 */
        .head-section {
            background-color: lightblue;
            display: grid;
            /* justify-content: space-between; */
            grid-template-columns: 4fr 1fr;
            grid-column-gap: 10px;
            align-items: center;
            padding: 10px;
        }
        .clock-item{
            display: flex;
            justify-content: baseline;
            align-items: center;
            background-color: beige;
            text-align: start;
            height: 100%;

        }
        /* ----------------------------------------------------------- */


        /* ----------------------------------------------------------- */
        /* 화면 중간 설정 */
        .main-section {
            background-color: yellow;
            display: grid;
            grid-template-columns: 1fr 4fr 1fr; /* 회색 도형과 텍스트 영역의 비율에 맞게 설정 */
            gap: 10px;
            padding: 10px;
        }

        .newscontent-item{
            background-color: aqua;
            grid-row: 2 / 4; /* 2행에서 4행까지 확장 */
            grid-column: 1 / 4;
        }

        /* ------------------------------------------------------------- */


        /* ------------------------------------------------------------- */

        /* 화면 하단 설정 */
        .foot-section {
            background-color: lightgreen;
            display: flex;
            justify-content: space-between;
            padding: 10px;
        }

        /* 회색 도형 설정 */
        .item {
            background-color: grey;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .social-item{
            display: flex;
            justify-content: baseline;
            align-items: center;
            width: 90%;
            background-color: antiquewhite;
        }

         /* ------------------------------------------------------------- */



