.setting-section {
    display: none;
    grid-row: 2 / 4;
    /* background-color: yellow; */
    grid-template-rows: 1fr 3fr;
}

.select-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    /* background-color: black; */
    opacity: 0;  /* 초기 투명도를 0 (완전 투명)으로 설정 */
    transition: opacity 0.5s ease-in-out;  /* 0.5초 동안 투명도가 변하도록 설정 */
}

.setting-section[style*="grid"] .select-menu {
    opacity: 1;  /* .setting-section이 grid로 표시될 때 .select-menu의 투명도를 1로 변경 */
}

.menu-item{
    
    padding: 5px;
    background-color: white;
    border-radius: 5%;
    border: 5px solid black;
    font-weight: bolder;
}

.menu-item:hover{
    border-color: rgb(87, 85, 85);
}

.menu-main{
    border-top: 2px dotted black;
    /* background-color: blue; */
}

/* --------------------------------------------------------------------------- */
/* 각 메뉴화면 | 1. 세계시간 | 2. 사용자 정보 | 3. 관심사 카테고리 | 4. 회면밝기 |*/ 
/* --------------------------------------------------------------------------- */

.content {
    display: none;
}

/* 1. */
.world-time{
    /* background-color: aqua; */
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    place-items: center;
}

button{
    background-color: white;
    width: 50%;
    height: 50%;
    border: 5px solid black;
    border-radius: 3%;
    font-weight: bolder;
}

/* 2 */
.user-info{
    padding-top: 2%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    place-items: center;
}

.user-type{
    font-weight: bolder;
    border: 5px solid black;
    border-radius: 5%;
    padding-top: 6%;
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    place-items: center;
}


/* 3 */
 .category{
    /* background-color: aqua; */
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    place-items: center;
}


/* 4  */

.bright-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}

#brightness-setter {
    -webkit-appearance: none;
    appearance: none;
    width: 80%;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 16px;
    margin-top: 10%;
  }
  
  #brightness-setter::-webkit-slider-runnable-track {
    height: 15px;
    background: #ccc;
    border-radius: 16px;
  }
  
  #brightness-setter::-moz-range-track {
    height: 15px;
    background: #ccc;
    border-radius: 16px;
  }
  
  #brightness-setter::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid rgb(141, 255, 2);
    box-shadow: -407px 0 0 400px rgb(0, 255, 47);
  }
  
  #brightness-setter::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid rgb(53, 133, 38);
    box-shadow: -407px 0 0 400px rgb(68, 171, 54);
  }
